.btn-option {
  background-color: #132121;
  width: 15em;
  margin: 2em;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.img_btn {
  width: 100%;
}

.btn__lista:hover {
  transform: rotate(45deg);
  /* transform: translate(-25%, -25%); */
  transition: ease;
}

.btn__ventas:hover {
  transform: rotateY(25deg);
  /* transform: translate(0, -25%); */
  transition: ease;
}

.btn__registro:hover {
  transform: translate(25%, -25%);
  transition: ease;
}
