.vista__ventas {
  justify-content: space-evenly;
}

.fondovista__ventas {
  width: 70%;
  height: 90%;
  justify-content: space-between;
  padding: 1em;
  border-radius: 4em;
  background-color: rgb(255, 255, 255);
}

.fondo__calendario {
  /* display: flex; */
  /* justify-content: center; */
  height: 31.3em;
  /* display: flex; */
  /* flex-wrap: wrap; */
  border: solid 3px black;
  border-radius: 3em;
  /* overflow-y: scroll; */
  background-color: rgb(255, 255, 255);
}
/* 
.fondo__calendario::-webkit-scrollbar {
  height: 2em;
}

.fondo__calendario::-webkit-scrollbar {
  width: 12px;
}

.fondo__calendario::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

.fondo__calendario::-webkit-scrollbar-thumb {
  height: 30rem;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
} */

.info {
  width: 97%;
  height: 9em;
  display: flex;
  justify-content: space-between;
}

.colores {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.color {
  width: 15px;
  height: 15px;
  margin: 0.3em;
  background-color: violet;
}

.subtotal {
  display: flex;
  align-items: baseline;
  color: black;
  font-size: 20px;
}

.info__total {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0.5em;
  color: black;
  font-size: 30px;
}

.rojo {
  background-color: red;
}

.azul {
  background-color: aqua;
}

.verde {
  background-color: rgb(123, 247, 41);
}
