:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #9e0c92;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  background-image: url("/fantasma.png");
  background-size: 4rem;
  /* background-size: 5.33rem; */
}

.header {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.fondo__link__menu {
  background-color: aqua;
}

.img--link__menu {
  /* background-color: rgba(61, 97, 143, 0.274); */
  display: flex;
  align-content: center;
  z-index: 200;
  position: absolute;
  left: 30px;
  top: 1rem;
  width: 5%;
  animation-name: beat;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes beat {
  0% {
    transform: scaleX(-1);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }

  /* @keyframes beat {
  0% {
    transform: rotate3d(0, 1, 0, 1);
  }
  50% {
    transform: rotate3d(0, 0, 0, -1);
  } */
}
